.directory
target
.idea
*.pro.user
*.pro.user.*
.qmake.stash
Makefile
*.o
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
build-*
*.suo
*.VC.db
*.VC.opendb
*.vcxproj.user
x64
ipch
capi/skiatests/out.png
capi/skiatests/out.svg
tools/viewsvg-skia.net/viewsvg-skia.net/obj
tools/viewsvg-skia.net/.vs
tools/viewsvg-skia.net/interop/Debug
*.csproj.user



