/* based on: https://github.com/nst/JSONTestSuite/blob/master/results/style.css */

table {
    border-collapse: collapse;
    font-family: monospace;
    font-size: 12pt;
}

th.vertical {
    /* Something you can count on */
    height: 240px;
    white-space: nowrap;
}

th.vertical > div {
    transform:
        translate(0px, 105px)
        rotate(270deg); /* 360 - 90 */
    width: 13pt;
}

.Ok {
    border: 1px solid black;
    background-color: #00E400;
}

.Error {
    border: 1px solid black;
    background-color: #FF0000;
}

.Crashed {
    border: 1px solid black;
    background-color: #FFAA00;
}

.OutOfScope {
    border: 1px solid black;
    background-color: #E5E5E5;
}
