name: Build

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # We have to use the Release mode, otherwise it would take forever.
    - name: Test
      run: cargo test --release

    - name: Build C API
      working-directory: c-api
      run: cargo build

    - name: Build C API without default features
      working-directory: c-api
      run: cargo build --no-default-features

    - name: Test usvg
      working-directory: usvg
      run: cargo test

    - name: Build usvg without default support
      working-directory: usvg
      run: cargo build --no-default-features

  msrv:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.51.0
          override: true

      - name: Build
        run: cargo build --features dump-svg

  # We have some Windows specific code that we should check on each commit.
  windows:
    runs-on: windows-2019
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Toolchain is stable-x86_64-pc-windows-msvc by default. No need to change it.

      - name: Build thumbnailer
        working-directory: tools/explorer-thumbnailer
        env:
          RUSTFLAGS: -Ctarget-feature=+crt-static # make sure it's static
        run: cargo build

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: '5.15.2'

      # Unlike other binaries, viewsvg isn't built with crt-static
      - name: Build C API
        working-directory: c-api
        run: cargo build --release

      - name: Prepare Developer Command Prompt for MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build viewsvg
        working-directory: tools/viewsvg
        run: |
          qmake
          nmake
